#currentScene {
    margin-left: 1rem;
    font-weight: bold;
    color: #fff !important;
}

#currentScene>span {
    text-transform: capitalize;
    font-weight: 300 !important;
    color: #fff !important;
}

#scrollspy {
    position: fixed;
    right: 3vw;
    top: 50vh;
    /* width: 230px; */
    transform: translateY(-50%);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
    text-transform: capitalize;
}

.fixed-type-selector {
    position: fixed !important;
    left: 23px !important;
    bottom: 23px !important;
    padding-top: 15px !important;
    margin-bottom: 0 !important;
    z-index: 997 !important;
}

.btn {
    background-color: transparent !important;
    border: 1px solid rgb(106, 27, 154) !important;
    color: rgb(106, 27, 154) !important;
    box-shadow: none !important;
}

.exclude,
.exclude * {
    text-decoration: line-through !important;
    text-decoration-color: red !important;
    color: red !important;
}

.table-of-contents a:hover {
    border-left-color: rgb(133, 53, 184) !important;
}

.table-of-contents a.active {
    border-left-color: rgb(106, 27, 154) !important;
    color: #808080 !important;
}

body[theme="dark"] .c8,
body[theme="dark"] .c18,
body[theme="dark"] .brand-logo,
body[theme="dark"] .bold {
    color: #EEE !important;
}

body[theme="dark"] .c19,
body[theme="dark"] .c11,
body[theme="dark"] .c29,
body[theme="dark"] .c15 {
    color: black !important;
}

/*body[theme="dark"] #overlay,*/
body[theme="dark"] {
    background-color: #202124 !important;
}

body[theme="dark"] span,
body[theme="dark"] p {
    color: #a9a9a9 !important;
}

body[theme="dark"] .btn {
    background-color: rgb(106, 27, 154) !important;
    /* border: 1px solid rgb(106, 27, 154) !important; */
    color: white !important;
    /* box-shadow: none !important; */
}

* {
    user-select: none;
    transition: text 400ms;
    transition: background 400ms;
}

#script {
    background-color: transparent !important;
    margin-top: 56px !important;
}

body[embed="true"] {
    width: calc(100vw - 30px) !important;
    padding: 0 !important;
    margin: 0 !important;
    background-color: transparent !important;
    /* overflow: hidden !important; */
}

body[embed="true"] #script {
    background-color: transparent !important;
    width: calc(100vw - 30px) !important;
    padding: 0 !important;
    margin: 20px !important;
    /* overflow: hidden !important; */
}

body[embed="true"] .c19 {
    color: black !important;
}

body[embed="true"] #scrollspy,
body[embed="true"] .fixed-action-btn {
    display: none !important;
}

body[embed="true"] span {
    color: #e6e6e6;
}

body[embed="true"] * {
    color: #e6e6e6;
    font-size: large;
}

body[mobile="true"] {
    width: calc(100vw - 40px) !important;
    padding: 0 !important;
    margin: 0 !important;
    /* overflow: hidden !important; */
}

body[mobile="true"] #script {
    background-color: transparent !important;
    width: calc(100vw - 40px) !important;
    padding: 0 !important;
    margin: 20px !important;
    /* overflow: hidden !important; */
    padding-left: 10px !important;
}

body[mobile="true"] .show-on-large {
    display: none !important;
}

#overlay {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 2;
    cursor: wait;
}

#overlay h4 {
    position: absolute;
    top: calc(50vh - 3rem);
    width: 100%;
    text-align: center;
}

.progress {
    position: absolute;
    min-width: 20rem !important;
    width: 30vw !important;
    max-width: 40rem !important;
    padding: 0;
    margin: 0;
    /* width: 50rem; */
    top: calc(50vh + 3rem);
    left: 50vw;
    transform: translate(-50%);
    height: 10px;
    border-radius: 50px !important;
}

.indicator {
    position: absolute;
    width: 5px;
    background-color: rgb(106, 27, 154);
}

.selected {
    /* outline: 5px solid rgb(106, 27, 154); */
    /* border-left: 5px solid rgb(106, 27, 154); */
    animation: blinker 1s linear infinite;
    box-shadow: -5px 0px 0px 0px rgb(106, 27, 154);
}

body[loggedin="true"] #script p {
    cursor: pointer !important;
}

#script p {
    cursor: not-allowed;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

@media only screen and (min-width: 600px) {
    #script {
        width: 60rem !important;
        margin-top: 10px;
        margin-left: calc(50vw - 30rem);
    }
}


.title {
    padding-top: 0pt;
    color: #000000;
    font-size: 28pt;
    padding-bottom: 0pt;
    font-family: "Calibri";
    line-height: 1.0;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

li {
    color: #000000;
    font-size: 11pt;
    /* font-family: "Calibri" */
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    /* font-family: "Calibri" */
}

h1 {
    padding-top: 12pt;
    color: #2f5496;
    font-size: 16pt;
    padding-bottom: 0pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 18pt;
    color: #000000;
    font-weight: 700;
    font-size: 18pt;
    padding-bottom: 4pt;
    /* font-family: "Calibri"; */
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 14pt;
    color: #000000;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 4pt;
    /* font-family: "Calibri"; */
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 2pt;
    /* font-family: "Calibri"; */
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 11pt;
    color: #000000;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 2pt;
    /* font-family: "Calibri"; */
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 10pt;
    color: #000000;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 2pt;
    /* font-family: "Calibri"; */
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

@media only screen and (max-width: 600px) {
    body[embed="true"] {
        width: calc(100vw - 30px) !important;
        padding: 0 !important;
        margin: 0 !important;
        /* overflow: hidden !important; */
    }

    body[embed="true"] #script {
        /* background-color: transparent !important; */
        width: calc(100vw - 30px) !important;
        padding: 0 !important;
        margin: 20px !important;
        /* overflow: hidden !important; */
    }

    #currentScene {
        display: none !important;
    }
}